.flex {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.example {
  border: 1px solid grey;
}

.bordered {
  border: 1px solid black;
}

iframe {
  height: 2000px;
}

.title {
  display: flex;
  margin-bottom: 1em;
}

.title h1 {
  margin: 0 1em 0 0;
}

.title fieldset {
  display: flex;
  padding: 0 1em;
  margin: 0;
}
