{{page-title "Svelt"}}

Input

<code>
  <pre>
    <div class="outer">
      <slot />
    </div>

    <style>
      div {
        --bg-color: pink;
        height: 100px;
        background-color: var(--bg-color);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>
  </pre>
</code>